
.cart_container {
  width: 250px;
  background-color: white;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: -250px;
  transition: right 0.3s ease-in-out;
  height: calc(100% - 60px);
  z-index: 11;
}

.cart_container h2 {
  padding: 20px 0 0 20px;
}

.cart_container.visible {
  right: 0;
}

.cart_products_scroll {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.cart_products_scroll::-webkit-scrollbar {
  width: 8px;
}

.cart_products_scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.cart_products_scroll::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.cart_products_scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cart_prod_container { 
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.cart_prod_container p:last-child span {
  color: gray;
  margin-right: 15px;
}

.cart_prod_container p:last-child {
  font-weight: 600;
  font-size: 15px;
  align-self: flex-end;
}

.cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
}

.product_image_cart {
  width: 55px;
  height: 55px;
  align-self: flex-start;
}

.cart_quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  flex-grow: 1;
}

.btn_delete { 
  margin-top: 5px;
  color: #e74c3c;
  background-color: azure;
}

.btn_quantity {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.quantity_input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

.cart_total_checkout {
  padding: 15px;
  border-top: 1px solid #ccc;
}

.cart_total_checkout .total_price {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 10px;
}

.cart_total_checkout button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart_total_checkout button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .close_cart {
    display: flex;
    justify-content: end;
    margin: 8px 10px 0 0; 
    color: gray;
    font-size: 20px;
    cursor: pointer;   
  }
}
