/* Products.css */
.product_card {
  max-width: 300px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
  font-family: 'Arial, sans-serif';
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.product_header {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  border-radius: 16px;
}

.product_image {
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
  object-fit: contain;
}

.product_body {
  padding: 10px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product_name_container {
  max-height: 50px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  display: flex;
  align-items: start;
  flex-direction: column;
}

.product_name {
  font-size: 1.1em;
  margin-top: 10px;
  color: #333;
}

.product_collection {
  font-size: 0.9em;
  color: #888;
}

.product_status {
  /* background-color: #4caf50; */
  /* color: #fff; */
  color: #4caf50;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.8em;
  margin: 3px 0;
  font-weight: 800;
}

.product_quantity {
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  padding: 5px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_description {
  font-size: 0.9em;
  color: #555;
  margin: 8px 0;
  height: 80px;
  overflow: hidden;
  overflow-y: auto;

  scrollbar-width:thin;
  scrollbar-color: #009688 #f1f1f1;
}

.product_description::-webkit-scrollbar {
  width: 8px;
}

.product_description::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.product_description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  background-clip: content-box;
}

.cart_price_container {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: relative;
}

/* .product_price {
  background-color: #FF7F00;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 7px;
  width: 150px;
  position: absolute;
  left: 20px;
  bottom: 10px;
} */


.product_price {
  position: absolute;
  background: #fdbd4a;
  width: 8.46rem;
  margin-left: -0.65rem;
  padding: .2rem 1.2rem;
  border-radius: 5px 0 0 5px;
  right: -25px;
  bottom: 180px;
}

.product_price p {
  margin: 0;
  padding-top: .4rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
}

.product_price p:before {
  content: "$";
  margin-right: 5px;
  font-size: 15px;
  font-weight: 300;
}

.product_price div {
  position: absolute;
  bottom: -23px;
  right: -0px;
  width: 0;
  height: 0;
  border-top: 13px solid #c58102;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
  z-index: -6;
}

.add_to_cart_button {
  color: white;
  border: none;
  /* border-radius: 50%; */
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -60px;
  left: 10px;
}

.btn_details {
  border: none;
  position: absolute;
  bottom: -60px;
  right: 10px;
  padding: 12px;
  font-weight: 600;
}

.add_to_cart_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 468px) {
  .product_price p {
    font-size: 1rem;
  }
}